@model OtelEleven.Models.Anasayfa

@{
    ViewBag.Title = "Anasayfa";
}
 <br />  
  

<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
         
        <ol class="carousel-indicators">
           @{int a = 0;}
        @foreach (var item in Model.Slider)
        {
            a = 1;
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            break;
        }
             

        @foreach (var item in Model.Slider)
        {
            <li data-target="#myCarousel" data-slide-to=@a></li>
            a++;
            if (Model.Slider.Count == a)
            { break; }
        }

            
             
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
             
            @{int k = 0;}
            @foreach (var item in Model.Slider)
            {k=1;
                <div class="item active">
                    <img style="width:900px;height:400px" src="data:image/png;base64,@System.Convert.ToBase64String(item.Resim)" alt="Chania" width="460" height="345">
                </div>
                break;
            }
            @foreach (var item in Model.Slider)
            {
                if(k!=1)
                { 
                <div class="item">
                    <img style="width:900px;height:400px" src="data:image/png;base64,@System.Convert.ToBase64String(item.Resim)" alt="Chania" width="460" height="345">
                </div>
                } k++;
            } 
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> 
 
    <div class="row ">
       
    <div class="col-md-4 kucukresim" style="text-align:center">
        <div class="page-header"><div style="text-align:center;font-weight:bold">
    <img class="thumbnail" src="~/Image/rsz_tekroom.jpg" />Odalar</div>
</div>
       
    Odaları görüntülemek için <a href="/odalar">tıklayınız...</a>
    </div>
    <div class="col-md-4 kucukresim " style="text-align:center">
        <div class="page-header"><div style="text-align:center;font-weight:bold"><img class="thumbnail" src="~/Image/rsz_düğün.jpg" />Etkinlikler</div></div>
        İnci Otelin Eşsiz Etkinlikleri için <a href="/etkinlikler">tıklayınız...</a>

    </div>
        <div class="col-md-4 kucukresim" style="text-align:center">
            <div class="page-header "><div style="text-align:center;font-weight:bold"><img class="thumbnail" src="~/Image/rsz_rez.jpg" />Kampanyalar</div></div>
            Kampanyayı kaçırmamak için Hemen Rezervasyon<a href="/Account/Register"> yapın.</a> 
        </div>
    </div>
       
        @for (int i = 0; i < 10; i++)
        { 
            <br />
        }
     
    
<div class="row" style="color:#D9D900;font-weight:bold">
    
     <div class="col-md-12" style="margin:5px;word-wrap:normal">
         Son 5 Üye Yorumları<br /><br />
         @foreach (var item in Model.Yorum)
         {
            <div class="yorums">

                <div>Kullanici adı   : @item.kullaniciadi</div>
                <div style="word-wrap:break-word">Yorum    &ensp;&ensp;&ensp;&ensp;&ensp;: @item.yorum</div>
            </div>
             <hr />

         }

     </div>   
 </div>