@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>
</head>
<body>
    <div>
        <a href="~/Ana/Anasayfa">Anasayfa</a>       
                 @Html.ActionLink("EN", "ChangeCulture", "Ana", new { lang = "en", returnurl = "~/Ana/Anasayfa" }, null)
        @Html.ActionLink("TR", "ChangeCulture", "Ana", new { lang = "tr", returnurl = "~/Ana/Anasayfa" }, null)
        @Html.ActionLink("It", "ChangeCulture", "Ana", new { lang = "it", returnurl = "~/Ana/Anasayfa" }, null)
     </div>
</body>
</html>
