@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>
</head>
<body>
    <div>
        <a href="~/Ana/Anasayfa">Anasayfa</a>
    </div>
</body>
</html>
