 .arkaplan{
     background-color:#d9ecf6;
     
 }
body{
     background-image:url('../Image/dx3lvd64.bmp') ;
     background-attachment:fixed ;
 }
.resim{ 
        position:initial;
         z-index:999;
 }
 .tablom td{
      height:auto;
      width:100px;
    
 }
 .yonlendir li{
     float:right;
     letter-spacing:1px;
     text-decoration:none;
     color:red;
     list-style:none;
     margin:0;
     padding:0;
     padding-right:10px;
     }
.yonlendir li a{
    color:white;
}

 .liste li{ 
     float:left;
     list-style:none;
     text-decoration:none; 
    padding:18px;
    margin:0;
     color:#99FFB3;
 }
  .liste li a{
    font-size:18px;
     color:black;
     font-weight:bold;
    text-shadow:3px 1px 0.1px red;
 }
 .liste li a:hover{
     text-decoration:none;
     color:aqua;
 }
 .active{
     color:red; 
 }
 .loginpartial 
 {
     float:right;
 }
 .loginpartial li{
     float:left;
     list-style:none;
 }
 .loginpartial li a{
      color:green;
 }
 .loginpartial li a{
     color:black;
     font-size:16px;
 }
 .loginpartial li a:hover{
     text-decoration:none;
     color:orange;
 }
 .baslik{
     color:orange;
     font-size:50px; 
 }
 .baslik li a:hover{
     text-decoration:none;
 }
 .kisi {
     color:#8C4600;
     font-size:14px;
 }
 .secenekler a{
     color:#D9D900;
     font-size:14px;
     margin:5px;
 }
 .login  {
     list-style:none;
     margin-right:2px;

 }
 .alt a{
     color:orange;
 }