 .arkaplan{
     background-color:#d9ecf6;
     
 }
body {  
    background:url('../Image/dx3lvd64.jpg') fixed; 
    background-size: cover;
}
.resim{ 
        position:initial;
         z-index:999;
 }
.intro a{

    font-size:40px;
    color:white;
    font-weight:bold;
    text-decoration:none;
    
}
 .tablom td{
      height:auto;
      width:100px;
    
 }
 .yonlendir li{
     float:right;
     letter-spacing:1px;
     text-decoration:none;
     color:red;
     list-style:none;
     margin:0;
     padding:0;
     padding-right:10px;
     }
.yonlendir li a{
    color:white;
    font-size:25px; 
    text-shadow:3px 3px 0.1em blue;
}

 .liste li{ 
     float:left;
     list-style:none;
     text-decoration:none; 
    padding:18px;
    margin:0;
     color:greenyellow;
 }
  .liste li a{
    font-size:20px;
     color:darkblue;
     font-weight:bold;
    text-shadow:3px 1px 0.1px white;
 }
 .liste li a:hover{
     text-decoration:none;
     color:orange;
 }
 .active{
     color:red; 
 }
 .loginpartial 
 {
     float:right;
 }
 .loginpartial li{
     float:left;
     list-style:none;
 }
 .loginpartial li a{
      color:green;
 }
 .loginpartial li a{
     color:black;
     font-size:20px;
     font-weight:bold;
 }
 .loginpartial li a:hover{
     text-decoration:none;
     color:orange;
 }
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
 .baslik{
     color:orange;
     font-size:50px; 
 }
 .baslik li a:hover{
     text-decoration:none;
 }
 .kisi {
     color:darkgoldenrod;
     text-shadow:3px 0.6px 0.1px white;
     font-size:55px;
 }
 .ab a{
     color:white;
     text-shadow:2px 2px 1px black;
     font-weight:bold;
 }
 .yorums:hover{
     background-color:red;
 }
 .secenekler a{
     color:blueviolet;
     text-shadow:3px 0.6px 0.1px white;
     font-size:18px;
     margin:5px;
 }
 .secenekler a:hover
 {
     color:blue;
     text-decoration:none;
 }
 .login  {
     list-style:none;
     margin-right:2px;
   

 }
 .login li{
  font-weight:bold;
     font-size:20px;
 }
 .alt a{
     color:orange;
 }
 .etkinlikler{
     width:130px;height:100px;
 }